<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Contacts Manager Example</title>

<style> @import url(css/main.css); </style>
<style> @import url(css/colors.css); </style>

<script>
	// wasm callbacks do not return values so use javascript to return true.
	window.onabort = function(e) {return true;}
	window.onbeforeunload = function(e) {return true;}
</script>
<script src="/wasm/wasm_exec.js"></script>
<script>

	if (!WebAssembly.instantiateStreaming) { // polyfill
		WebAssembly.instantiateStreaming = async (resp, importObject) => {
			const source = await (await resp).arrayBuffer();
			return await WebAssembly.instantiate(source, importObject);
		};
	}

	(
		async function() {
			const go = new Go()
			const { instance } = await WebAssembly.instantiateStreaming(fetch("/wasm/app.wasm"), go.importObject)
			go.run(instance)
		}
	)()

</script>

{{ template "head.tmpl" }}

</head>


<body>

  <div id="tabsMasterView">
    <h1 class="heading-of-panel">Contacts Manager Example</h1>
    <div id="tabsMasterView-home">
      <div id="tabsMasterView-home-pad" class="pad-color-level-0">
        <button id="tabsMasterView-home-pad-AddButton" backid="tabsMasterView-home" class="pad-button-color-level-AddAContact">Add</button>
        <button id="tabsMasterView-home-pad-EditButton" backid="tabsMasterView-home" class="pad-button-color-level-EditAContact">Edit</button>
        <button id="tabsMasterView-home-pad-RemoveButton" backid="tabsMasterView-home" class="pad-button-color-level-RemoveAContact">Remove</button>
        <button id="tabsMasterView-home-pad-AutoGeneratedAboutButton" backid="tabsMasterView-home" class="pad-button-color-level-About">About</button>
      </div> <!-- end of #tabsMasterView-home-pad -->
    </div> <!-- end of #tabsMasterView-home -->
    <div id="tabsMasterView-home-slider" class="unseen">
      <button id="tabsMasterView-home-slider-back" class="back-color-level-0">&#11176;</button>
      <div id="tabsMasterView-home-slider-collection">
        <div id="tabsMasterView-home-pad-AddButton-AddContactPanel" class="slider-panel unseen tobe-seen" backColorLevel="back-color-level-0">
          <div class="heading-of-panel"> <!-- cookie crumbs -->
<h2 class="cookie-crumb cookie-crumb-level-1">Add</h2>
           
          </div> <!-- end of cookie crumbs -->
          <h2 class="heading-of-panel heading-of-panel-level-AddAContact">Add A New Contact.</h2>
            <div id="tabsMasterView-home-pad-AddButton-AddContactPanel-inner" class="slider-panel-inner pad-color-level-AddAContact">
              <div id="tabsMasterView-home-pad-AddButton-AddContactPanel-inner-user-content" class="user-content">
{{template "AddContactPanel.tmpl"}}
              </div> <!-- end of #tabsMasterView-home-pad-AddButton-AddContactPanel-inner-user-content -->
            </div> <!-- end of #tabsMasterView-home-pad-AddButton-AddContactPanel-inner -->
        </div> <!-- end of #tabsMasterView-home-pad-AddButton-AddContactPanel -->
        <div id="tabsMasterView-home-pad-EditButton-EditContactNotReadyPanel" class="slider-panel unseen tobe-seen" backColorLevel="back-color-level-0">
          <div class="heading-of-panel"> <!-- cookie crumbs -->
<h2 class="cookie-crumb cookie-crumb-level-1">Edit</h2>
           
          </div> <!-- end of cookie crumbs -->
          <h2 class="heading-of-panel heading-of-panel-level-EditAContact">Edit A Contact.</h2>
            <div id="tabsMasterView-home-pad-EditButton-EditContactNotReadyPanel-inner" class="slider-panel-inner pad-color-level-EditAContact">
              <div id="tabsMasterView-home-pad-EditButton-EditContactNotReadyPanel-inner-user-content" class="user-content">
{{template "EditContactNotReadyPanel.tmpl"}}
              </div> <!-- end of #tabsMasterView-home-pad-EditButton-EditContactNotReadyPanel-inner-user-content -->
            </div> <!-- end of #tabsMasterView-home-pad-EditButton-EditContactNotReadyPanel-inner -->
        </div> <!-- end of #tabsMasterView-home-pad-EditButton-EditContactNotReadyPanel -->
        <div id="tabsMasterView-home-pad-EditButton-EditContactSelectPanel" class="slider-panel unseen tobe-unseen" backColorLevel="back-color-level-0">
          <div class="heading-of-panel"> <!-- cookie crumbs -->
<h2 class="cookie-crumb cookie-crumb-level-1">Edit</h2>
           
          </div> <!-- end of cookie crumbs -->
          <h2 class="heading-of-panel heading-of-panel-level-EditAContact">Edit A Contact.</h2>
            <div id="tabsMasterView-home-pad-EditButton-EditContactSelectPanel-inner" class="slider-panel-inner pad-color-level-EditAContact">
              <div id="tabsMasterView-home-pad-EditButton-EditContactSelectPanel-inner-user-content" class="user-content">
{{template "EditContactSelectPanel.tmpl"}}
              </div> <!-- end of #tabsMasterView-home-pad-EditButton-EditContactSelectPanel-inner-user-content -->
            </div> <!-- end of #tabsMasterView-home-pad-EditButton-EditContactSelectPanel-inner -->
        </div> <!-- end of #tabsMasterView-home-pad-EditButton-EditContactSelectPanel -->
        <div id="tabsMasterView-home-pad-EditButton-EditContactEditPanel" class="slider-panel unseen tobe-unseen" backColorLevel="back-color-level-0">
          <div class="heading-of-panel"> <!-- cookie crumbs -->
<h2 class="cookie-crumb cookie-crumb-level-1">Edit</h2>
           
          </div> <!-- end of cookie crumbs -->
          <h2 class="heading-of-panel heading-of-panel-level-EditAContact">Edit A Contact.</h2>
            <div id="tabsMasterView-home-pad-EditButton-EditContactEditPanel-inner" class="slider-panel-inner pad-color-level-EditAContact">
              <div id="tabsMasterView-home-pad-EditButton-EditContactEditPanel-inner-user-content" class="user-content">
{{template "EditContactEditPanel.tmpl"}}
              </div> <!-- end of #tabsMasterView-home-pad-EditButton-EditContactEditPanel-inner-user-content -->
            </div> <!-- end of #tabsMasterView-home-pad-EditButton-EditContactEditPanel-inner -->
        </div> <!-- end of #tabsMasterView-home-pad-EditButton-EditContactEditPanel -->
        <div id="tabsMasterView-home-pad-RemoveButton-RemoveContactNotReadyPanel" class="slider-panel unseen tobe-seen" backColorLevel="back-color-level-0">
          <div class="heading-of-panel"> <!-- cookie crumbs -->
<h2 class="cookie-crumb cookie-crumb-level-1">Remove</h2>
           
          </div> <!-- end of cookie crumbs -->
          <h2 class="heading-of-panel heading-of-panel-level-RemoveAContact">Remove A Contact.</h2>
            <div id="tabsMasterView-home-pad-RemoveButton-RemoveContactNotReadyPanel-inner" class="slider-panel-inner pad-color-level-RemoveAContact">
              <div id="tabsMasterView-home-pad-RemoveButton-RemoveContactNotReadyPanel-inner-user-content" class="user-content">
{{template "RemoveContactNotReadyPanel.tmpl"}}
              </div> <!-- end of #tabsMasterView-home-pad-RemoveButton-RemoveContactNotReadyPanel-inner-user-content -->
            </div> <!-- end of #tabsMasterView-home-pad-RemoveButton-RemoveContactNotReadyPanel-inner -->
        </div> <!-- end of #tabsMasterView-home-pad-RemoveButton-RemoveContactNotReadyPanel -->
        <div id="tabsMasterView-home-pad-RemoveButton-RemoveContactSelectPanel" class="slider-panel unseen tobe-unseen" backColorLevel="back-color-level-0">
          <div class="heading-of-panel"> <!-- cookie crumbs -->
<h2 class="cookie-crumb cookie-crumb-level-1">Remove</h2>
           
          </div> <!-- end of cookie crumbs -->
          <h2 class="heading-of-panel heading-of-panel-level-RemoveAContact">Remove A Contact.</h2>
            <div id="tabsMasterView-home-pad-RemoveButton-RemoveContactSelectPanel-inner" class="slider-panel-inner pad-color-level-RemoveAContact">
              <div id="tabsMasterView-home-pad-RemoveButton-RemoveContactSelectPanel-inner-user-content" class="user-content">
{{template "RemoveContactSelectPanel.tmpl"}}
              </div> <!-- end of #tabsMasterView-home-pad-RemoveButton-RemoveContactSelectPanel-inner-user-content -->
            </div> <!-- end of #tabsMasterView-home-pad-RemoveButton-RemoveContactSelectPanel-inner -->
        </div> <!-- end of #tabsMasterView-home-pad-RemoveButton-RemoveContactSelectPanel -->
        <div id="tabsMasterView-home-pad-RemoveButton-RemoveContactConfirmPanel" class="slider-panel unseen tobe-unseen" backColorLevel="back-color-level-0">
          <div class="heading-of-panel"> <!-- cookie crumbs -->
<h2 class="cookie-crumb cookie-crumb-level-1">Remove</h2>
           
          </div> <!-- end of cookie crumbs -->
          <h2 class="heading-of-panel heading-of-panel-level-RemoveAContact">Remove A Contact.</h2>
            <div id="tabsMasterView-home-pad-RemoveButton-RemoveContactConfirmPanel-inner" class="slider-panel-inner pad-color-level-RemoveAContact">
              <div id="tabsMasterView-home-pad-RemoveButton-RemoveContactConfirmPanel-inner-user-content" class="user-content">
{{template "RemoveContactConfirmPanel.tmpl"}}
              </div> <!-- end of #tabsMasterView-home-pad-RemoveButton-RemoveContactConfirmPanel-inner-user-content -->
            </div> <!-- end of #tabsMasterView-home-pad-RemoveButton-RemoveContactConfirmPanel-inner -->
        </div> <!-- end of #tabsMasterView-home-pad-RemoveButton-RemoveContactConfirmPanel -->
        <div id="tabsMasterView-home-pad-AutoGeneratedAboutButton-AutoGeneratedAboutPanel" class="slider-panel unseen tobe-seen" backColorLevel="back-color-level-0">
          <div class="heading-of-panel"> <!-- cookie crumbs -->
<h2 class="cookie-crumb cookie-crumb-level-1">About</h2>
           
          </div> <!-- end of cookie crumbs -->
          <h2 class="heading-of-panel heading-of-panel-level-About">About This Application.</h2>
          <div id="tabsMasterView-home-pad-AutoGeneratedAboutButton-AutoGeneratedAboutPanel-inner" class="slider-panel-inner pad-color-level-About">
            <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar" class="tab-bar seen tobe-seen">
              <button id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ReleasesTab" class="tab selected-tab">Releases</button>
              <button id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ContributorsTab" class="tab unselected-tab">Contributors</button>
              <button id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-CreditsTab" class="tab unselected-tab">Credits</button>
              <button id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-LicensesTab" class="tab unselected-tab">Licenses</button>
            </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar -->
            <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-under-tab-bar" class="under-tab-bar">
              <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ReleasesTabPanel" class="panel-bound-to-tab panel-with-heading seen">
                <h3 class="heading-of-panel">Releases</h3>
                <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ReleasesTabPanel-inner" class="inner-panel user-content">
                  <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ReleasesTabPanel-inner-AutoGeneratedReleasesPanel" class="slider-panel-inner-sibling seen">
<!-- Note: Auto Generated About | Releases tab. -->
                  </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ReleasesTabPanel-inner-AutoGeneratedReleasesPanel -->
                </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ReleasesTabPanel-inner -->
              </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ReleasesTabPanel -->
              <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ContributorsTabPanel" class="panel-bound-to-tab panel-with-heading unseen">
                <h3 class="heading-of-panel">Contributors</h3>
                <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ContributorsTabPanel-inner" class="inner-panel user-content">
                  <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ContributorsTabPanel-inner-AutoGeneratedContributorsPanel" class="slider-panel-inner-sibling seen">
<!-- Note: Auto Generated About | Contributors tab. -->
                  </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ContributorsTabPanel-inner-AutoGeneratedContributorsPanel -->
                </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ContributorsTabPanel-inner -->
              </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-ContributorsTabPanel -->
              <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-CreditsTabPanel" class="panel-bound-to-tab panel-with-heading unseen">
                <h3 class="heading-of-panel">Credits</h3>
                <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-CreditsTabPanel-inner" class="inner-panel user-content">
                  <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-CreditsTabPanel-inner-AutoGeneratedCreditsPanel" class="slider-panel-inner-sibling seen">
<!-- Note: Auto Generated About | Credits tab. -->
                  </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-CreditsTabPanel-inner-AutoGeneratedCreditsPanel -->
                </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-CreditsTabPanel-inner -->
              </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-CreditsTabPanel -->
              <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-LicensesTabPanel" class="panel-bound-to-tab panel-with-heading unseen">
                <h3 class="heading-of-panel">Licenses</h3>
                <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-LicensesTabPanel-inner" class="inner-panel user-content">
                  <div id="tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-LicensesTabPanel-inner-AutoGeneratedLicensesPanel" class="slider-panel-inner-sibling seen">
<!-- Note: Auto Generated About | Licenses tab. -->
                  </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-LicensesTabPanel-inner-AutoGeneratedLicensesPanel -->
                </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-LicensesTabPanel-inner -->
              </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-LicensesTabPanel -->
            </div> <!-- end of #tabsMasterView_home_pad_AutoGeneratedAboutButton_AutoGeneratedAboutPanel_tab_bar-under-tab-bar -->
          </div> <!-- end of #tabsMasterView-home-pad-AutoGeneratedAboutButton-AutoGeneratedAboutPanel-inner -->
        </div> <!-- end of #tabsMasterView-home-pad-AutoGeneratedAboutButton-AutoGeneratedAboutPanel -->
      </div> <!-- end of #tabsMasterView-home-slider-collection -->
    </div> <!-- end of #tabsMasterView-home-slider -->
  </div> <!-- end of #tabsMasterView -->

    <div id="modalInformationMasterView" class="unseen">
      <div id="modalInformationMasterView-center" class="user-content">
        <h1 id="modalInformationMasterView-h1" class="heading-of-panel"></h1>
        <div id="modalInformationMasterView-message"></div>
        <p>
          <button id="modalInformationMasterView-close">Close</button>
        </p>
      </div>
	</div> <!-- end of #modalInformationMasterView -->

  <div id="closerMasterView" class="unseen">
    <div id="closerMasterView-center" class="user-content">
      <h2>Close this application.</h2>
      <p>
        Are you certain that you want to close this application?
      </p>
      <p>
        <button id="closerMasterView-cancel">No! Do not close this application.</button>
        <button id="closerMasterView-close">Yes, close this application.</button>
      </p>
    </div>
  </div> <!-- end of closer master view -->

</body>
</html>
