
<!--

Panel name: "ProveButtonPanel"

Panel note: The panel for the prove button.
Run the tests from this panel.
Do not move the ProveButtonPanel from the ProveButton.


This panel is displayed when the "Prove" button is clicked.

This panel is the only panel in it's panel group.

-->

<p>Prove It!</p>

