/*
  filters
*/

div.fvlist
{
  height: 400px;
  width: 600px;
}

div.fvlist > .filter-wrapper-1
{
  height: 400px;
  float: left;
}

div.fvlist > .filter-wrapper,
div.fvlist > .record-wrapper
{
  height: 400px;
  float: left;
}

div.fvlist > .filter-wrapper > .arrow,
div.fvlist > .record-wrapper > .arrow
{
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
  height: 400px;
  width: 50px;
  float: left;
  border-radius:20px 0px 0px 20px;
  border:1px solid solid;
  background-color:#71964e;
  color:black;
}
div.fvlist > .filter-wrapper > .arrow:hover,
div.fvlist > .record-wrapper > .arrow:hover
{
  border:1px solid solid;
  background-color:#71964e;
  color:white;
}
div.fvlist > .filter-wrapper-1 > .list-wrapper
{
  height: 400px;
  float: right;
  width: 600px;
  overflow: hidden;
}

div.fvlist > .filter-wrapper > .list-wrapper,
div.fvlist > .record-wrapper > .list-wrapper
{
  height: 400px;
  float: right;
  width: 550px;
  overflow: hidden;
}

div.fvlist > .filter-wrapper-1 > .list-wrapper > .title,
div.fvlist > .filter-wrapper > .list-wrapper > .title,
div.fvlist > .record-wrapper > .list-wrapper > .title
{
  /*display: block; */
  font-weight: bold;
  height:50px;
  margin:0;
  width: 100%;
  padding-left:20px;
  padding-top:5px;
}

div.fvlist > .filter-wrapper-1 > .list-wrapper > .vlist,
div.fvlist > .filter-wrapper > .list-wrapper > .vlist,
div.fvlist > .record-wrapper > .list-wrapper > .vlist
{
  clear: both;
  width: 100%;
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* vlist padding */
div.fvlist > .filter-wrapper-1 > .list-wrapper > .vlist > p,
div.fvlist > .filter-wrapper > .list-wrapper > .vlist > p,
div.fvlist > .record-wrapper > .list-wrapper > .vlist > p
{
  height:5px;
  padding:0px;
  margin:0px;
  width: 100%;
}

div.fvlist > .filter-wrapper-1 > .list-wrapper > .vlist > button > h4,
div.fvlist > .filter-wrapper > .list-wrapper > .vlist > button > h4
div.fvlist > .record-wrapper > .list-wrapper > .vlist > button > h4
{
  margin-top: 10px;
  margin-bottom:0px;
}

div.fvlist > .record-wrapper > .list-wrapper > .vlist > button > p
{
  margin-top: 10px;
  margin-bottom:0px;
  width: 100%;
}

div.fvlist > .filter-wrapper-1 > .list-wrapper > .vlist > button,
div.fvlist > .filter-wrapper > .list-wrapper > .vlist > button,
div.fvlist > .record-wrapper > .list-wrapper > .vlist > button
{
  width: 100%;
  border-radius: 5px;
  margin: 5px 25px 5px 0px;
}

div.fvlist > .filter-wrapper-1 > .list-wrapper > .vlist > button,
div.fvlist > .filter-wrapper > .list-wrapper > .vlist > button
{
  height: 100px;
}

div.fvlist > .record-wrapper > .list-wrapper > .vlist > button
{
  height: 330px;
}
