
<!--

Panel name: "CreditTabPanel"

Panel note: static text that display the credits.

This panel is displayed when the "Credits" tab button is clicked.

This panel is the only panel in it's panel group.

-->

<p>Joe Budd</p>

