
<!--

Panel name: "SchoolCourseKeyPracticePanel"

Panel note: A page to let the user copy without recording the results.

This is one of a group of 4 panels displayed when the "Key" tab button is clicked.

This panel is just 1 in a group of 4 panels.
Your other 3 panels in this group are

  * The content panel <div #mainMasterView_home_pad_SchoolButton_SchoolPanel_tab_bar-SchoolCourseKeyTabPanel-inner-SchoolCourseKeyCompletedPanel-inner-user-content
  * Name: SchoolCourseKeyCompletedPanel
  * Note: Displayed when the user has successfully copied for this lesson.
Maybe it should display the results.


  * The content panel <div #mainMasterView_home_pad_SchoolButton_SchoolPanel_tab_bar-SchoolCourseKeyTabPanel-inner-SchoolCourseKeyChoosePanel-inner-user-content
  * Name: SchoolCourseKeyChoosePanel
  * Note: Displayed when the user has successfully copied for this lesson.
Maybe it should display the results.


  * The content panel <div #mainMasterView_home_pad_SchoolButton_SchoolPanel_tab_bar-SchoolCourseKeyTabPanel-inner-SchoolCourseKeyTestPanel-inner-user-content
  * Name: SchoolCourseKeyTestPanel
  * Note: A page to let the user copy with results recorded.

-->

<h3 id="schoolCourseKeyPracticeH"></h3>
<p>
<label for="schoolCourseKeyPracticeMetronomeOn">Use the metronome.</label>
<input type="checkbox" id="schoolCourseKeyPracticeMetronomeOn" checked />
</p>
<p id="schoolCourseKeyPracticeP">
  <button id="schoolCourseKeyPracticeStart">Start</button>
  <button id="schoolCourseKeyPracticeCheck" class="unseen">Check</button>
</p>
<div id="schoolCourseKeyPracticeKey" class="user-not-keying resize-me-width"></div>
<div id="schoolCourseKeyPracticeCopy" class="resize-me-width"></div>

