
<!--

Panel name: "SchoolCourseSelectPanel"

Panel note: A vlist for selecting the current school course.
Displayed when there is no current school course selected.


This is one of a group of 3 panels displayed when the "School" tab button is clicked.

This panel is just 1 in a group of 3 panels.
Your other 2 panels in this group are

  * The content panel <div #mainMasterView_home_pad_SchoolButton_SchoolPanel_tab_bar-SchoolCourseTabPanel-inner-SchoolCourseNotReadyPanel-inner-user-content
  * Name: SchoolCourseNotReadyPanel
  * Note: Displayed when there are on courses.

  * The content panel <div #mainMasterView_home_pad_SchoolButton_SchoolPanel_tab_bar-SchoolCourseTabPanel-inner-SchoolCourseStatsPanel-inner-user-content
  * Name: SchoolCourseStatsPanel
  * Note: Displays the stats of the current course.

-->

<div id="schoolCourseSelectWrapper"></div>
