
<!--

Panel name: "AboutTabPanel"

Panel note: dynamic text that display the author and version.

This panel is displayed when the "About" tab button is clicked.

This panel is the only panel in it's panel group.

-->

<p>
    Author:
    <span id="aboutAuthor"></span>
</p>
<p id="aboutVersion"></p>

