
<!--

Panel name: "EditContactEditPanel"

Panel note: edit the form

This is one of a group of 3 panels displayed when the "Edit" button is clicked.

This panel is just 1 in a group of 3 panels.
Your other 2 panels in this group are

  * The content panel <div #tabsMasterView-home-pad-EditButton-EditContactNotReadyPanel-inner-user-content
  * Name: EditContactNotReadyPanel
  * Note: tell the user that he/she has not added any contacts yet.

  * The content panel <div #tabsMasterView-home-pad-EditButton-EditContactSelectPanel-inner-user-content
  * Name: EditContactSelectPanel
  * Note: A mapvlist allowing the user to select a contact to edit.

-->

<p>
  <label for="contactEditName">Name</label>
  <input type="text" id="contactEditName">
</p>
<p>
  <label for="contactEditAddress1">Address 1</label>
  <input type="text" id="contactEditAddress1">
</p>
<p>
  <label for="contactEditAddress2">Address 2</label>
  <input type="text" id="contactEditAddress2">
</p>
<p>
  <label for="contactEditCity">City</label>
  <input type="text" id="contactEditCity">
</p>
<p>
  <label for="contactEditState">State</label>
  <input type="text" id="contactEditState">
</p>
<p>
  <label for="contactEditZip">Zip</label>
  <input type="text" id="contactEditZip">
</p>
<p>
  <label for="contactEditPhone">Phone</label>
  <input type="text" id="contactEditPhone">
</p>
<p>
  <label for="contactEditEmail">E-mail</label>
  <input type="text" id="contactEditEmail">
</p>
<p>
  <label for="contactEditSocial">Social URLs</label>
  <textarea id="contactEditSocial"></textarea>
</p>
<p>
  <button id="contactEditSubmit">Edit</button>
  <button id="contactEditReset">Reset</button>
  <button id="contactEditCancel">Cancel</button>
</p>

