
<!--

Panel name: "RemoveContactSelectPanel"

Panel note: A mapvlist allowing the user to select a contact to remove.

This is one of a group of 3 panels displayed when the "Remove" button is clicked.

This panel is just 1 in a group of 3 panels.
Your other 2 panels in this group are

  * The content panel <div #tabsMasterView-home-pad-RemoveButton-RemoveContactNotReadyPanel-inner-user-content
  * Name: RemoveContactNotReadyPanel
  * Note: there are no contacts

  * The content panel <div #tabsMasterView-home-pad-RemoveButton-RemoveContactConfirmPanel-inner-user-content
  * Name: RemoveContactConfirmPanel
  * Note: form for confirmation of the record removal

-->

<p>
  <b>Select A Contact.</b>
</p>
<div id="contactRemoveSelect" class="fvlist"></div>

