
<!--

Panel name: "PushPanel"

Panel note: Display time pushed from the main process.

This panel is displayed when the "Watch the pushes." button is clicked.

This panel is the only panel in it's panel group.

-->

<p>The time is <span id="timeSpan"></span><p>
