
<!--

Panel name: "CreatePanel"

Panel note: Button to create a new hello world.

This panel is displayed when the "First Tab" tab button is clicked.

This panel is the only panel in it's panel group.

-->

<p>
  <button id="newHelloWorldButton">New Hello World</button>
</p>

