
<!--

Panel name: "EditContactNotReadyPanel"

Panel note: tell the user that he/she has not added any contacts yet.

This is one of a group of 3 panels displayed when the "Remove" button is clicked.

This panel is just 1 in a group of 3 panels.
Your other 2 panels in this group are

  * The content panel <div #tabsMasterView-home-pad-RemoveButton-EditContactSelectPanel-inner-user-content
  * Name: EditContactSelectPanel
  * Note: A mapvlist allowing the user to select a contact to edit.

  * The content panel <div #tabsMasterView-home-pad-RemoveButton-EditContactEditPanel-inner-user-content
  * Name: EditContactEditPanel
  * Note: edit the form

-->

<p>You don't have any contacts to edit.</p>

