
<!--

Panel name: "LiscenseTabPanel"

Panel note: dynamic liscense display

This panel is displayed when the "Liscense" tab button is clicked.

This panel is the only panel in it's panel group.

-->

<div id="aboutLicense"></div>
