
<!--

Panel name: "AddContactPanel"

Panel note: Adding a contact.
Allow the user to enter contact info into a form and submit or cancel.


This panel is displayed when the "Add" button is clicked.

This panel is the only panel in it's panel group.

-->

<p>
  <label for="contactAddName">Name</label>
  <input type="text" id="contactAddName">
</p>
<p>
  <label for="contactAddAddress1">Address 1</label>
  <input type="text" id="contactAddAddress1">
</p>
<p>
  <label for="contactAddAddress2">Address 2</label>
  <input type="text" id="contactAddAddress2">
</p>
<p>
  <label for="contactAddCity">City</label>
  <input type="text" id="contactAddCity">
</p>
<p>
  <label for="contactAddState">State</label>
  <input type="text" id="contactAddState">
</p>
<p>
  <label for="contactAddZip">Zip</label>
  <input type="text" id="contactAddZip">
</p>
<p>
  <label for="contactAddPhone">Phone</label>
  <input type="text" id="contactAddPhone">
</p>
<p>
  <label for="contactAddEmail">E-mail</label>
  <input type="text" id="contactAddEmail">
</p>
<p>
  <label for="contactAddSocial">Social URLs</label>
  <textarea id="contactAddSocial"></textarea>
</p>
<p>
  <button id="contactAddSubmit">Add</button>
  <button id="contactAddCancel">Cancel</button>
</p>

