
<!--

Panel name: "RecordsTabPanel"

Panel note: display text about the number of records in a paragraph

This panel is displayed when the "Contact Records" tab button is clicked.

This panel is the only panel in it's panel group.

-->

<p id="recordsCountP"></p>

