
<!--

Panel name: "SchoolCourseCopyCompletedPanel"

Panel note: Displayed when the user has successfully copied for this lesson.
Maybe it should display the results.


This is one of a group of 4 panels displayed when the "Copy" tab button is clicked.

This panel is just 1 in a group of 4 panels.
Your other 3 panels in this group are

  * The content panel <div #mainMasterView_home_pad_SchoolButton_SchoolPanel_tab_bar-SchoolCourseCopyTabPanel-inner-SchoolCourseCopyChoosePanel-inner-user-content
  * Name: SchoolCourseCopyChoosePanel
  * Note: Displayed when the user has successfully copied for this lesson.
Maybe it should display the results.


  * The content panel <div #mainMasterView_home_pad_SchoolButton_SchoolPanel_tab_bar-SchoolCourseCopyTabPanel-inner-SchoolCourseCopyPracticePanel-inner-user-content
  * Name: SchoolCourseCopyPracticePanel
  * Note: A page to let the user copy without recording the results.

  * The content panel <div #mainMasterView_home_pad_SchoolButton_SchoolPanel_tab_bar-SchoolCourseCopyTabPanel-inner-SchoolCourseCopyTestPanel-inner-user-content
  * Name: SchoolCourseCopyTestPanel
  * Note: A page to let the user copy with results recorded.

-->

<p>TBD</p>
