
<!--

Panel name: "HelloWorldTemplatePanel"

Panel note: Yet another "hello world".

This panel is displayed when the "Second Tab" tab button is clicked.

This panel is the only panel in it's panel group.

-->

<p id="p{{.SpawnID}}">Hello World {{.SpawnID}}!</p>
<p>
    <button id="closeSpawnButton{{.SpawnID}}">Close</button>
</p>

