
<!--

Panel name: "RemoveContactConfirmPanel"

Panel note: form for confirmation of the record removal

This is one of a group of 3 panels displayed when the "Edit" button is clicked.

This panel is just 1 in a group of 3 panels.
Your other 2 panels in this group are

  * The content panel <div #tabsMasterView-home-pad-EditButton-RemoveContactNotReadyPanel-inner-user-content
  * Name: RemoveContactNotReadyPanel
  * Note: there are no contacts

  * The content panel <div #tabsMasterView-home-pad-EditButton-RemoveContactSelectPanel-inner-user-content
  * Name: RemoveContactSelectPanel
  * Note: A mapvlist allowing the user to select a contact to remove.

-->

<p>
  <b>Name</b>
  <span id="contactRemoveName"></span>
</p>
<p>
  <b>Address 1</b>
  <span id="contactRemoveAddress1"></span>
</p>
<p>
  <b>Address 2</b>
  <span id="contactRemoveAddress2"></span>
</p>
<p>
  <b>City</b>
  <span id="contactRemoveCity"></span>
</p>
<p>
  <b>State</b>
  <span id="contactRemoveState"></span>
</p>
<p>
<b>Zip</b>
  <span id="contactRemoveZip"></span>
</p>
<p>
  <b>Phone</b>
  <span id="contactRemovePhone"></span>
</p>
<p>
  <b>E-mail</b>
  <span id="contactRemoveEmail"></span>
</p>
<p>
  <b>Social URLs</b>
  <span id="contactRemoveSocial"></span>
</p>
<p>
  <button id="contactRemoveSubmit">Confirm Remove</button>
  <button id="contactRemoveCancel">Cancel</button>
</p>

