
/******************************************************************************

    general

******************************************************************************/

html {
  background: transparent;
}

body {
  background: transparent;
}

/******************************************************************************

    master views

******************************************************************************/

#modalInformationMasterView
{
  background: hsla(44, 100%, 19%, 0.8);
  border-color:black;
}

#modalInformationMasterView-center
{
  background-color:white;
  border-color:rgb(88, 65, 1);
}

/******************************************************************************

    panels

******************************************************************************/

div.under-tab-bar  
{
  border-color: white;
  background: transparent;
  color:white;
}

/******************************************************************************

    tabs

******************************************************************************/

div.tab-bar > button
{
  color:black;
  border-color: white;
  background-color:#a09665;
}
div.tab-bar > button.selected-tab 
{
  background-color:white;
  box-shadow: 2px 0px #7c7555;
}

/******************************************************************************

    tabs master view

******************************************************************************/

/******************************************************************************

    home

******************************************************************************/

#mainMasterView-home-pad
{
  border-color:black;
}

/******************************************************************************

    slider

******************************************************************************/

#mainMasterView-home-slider-collection > .slider-panel > .slider-panel-pad
{
  color:white;
}

/******************************************************************************

  color levels

******************************************************************************/

/* color level 0 if for the home button pad */

#mainMasterView > h1.heading-of-panel
{
  color: black;
}

button.back-color-level-0
{
  background-color:black;
  color:white;
  border-color:white;
}
button.back-color-level-0:hover
{
  color:coral;
  border-color:coral;
}

div.pad-color-level-0
{
  background-color: black;
}



/* color level Action1Button */

#mainMasterView-home-slider-collection > .slider-panel > div.heading-of-panel > h2.cookie-crumb-level-Action1Button
{
  background-color:hsl(50, 23%, 27%);
  color:white;
  padding:5px;
}

#mainMasterView-home-slider-collection > .slider-panel > h2.heading-of-panel-level-Action1Button
{
  color: hsl(50, 23%, 27%);
}

button.back-color-level-Action1Button
{
  background-color:hsl(50, 23%, 27%);
  color:hsl(40, 37%, 57%);
  border-color:white;
}
button.back-color-level-Action1Button:hover
{
  color:white;
  border-color:hsl(40, 37%, 57%);
}

div.pad-color-level-Action1Button
{
  background-color: hsl(50, 23%, 27%);
}

button.pad-button-color-level-Action1Button
{
  background-color: hsl(40, 37%, 57%);
  color:black;
  border-color:black;
}

button.pad-button-color-level-Action1Button:hover
{
  background-color: hsl(40, 37%, 37%);
  color:white;
  border-color:white;
}


/* color level Action2Button */

#mainMasterView-home-slider-collection > .slider-panel > h2.heading-of-panel-level-Action2Button
{
  color: hsl(70, 23%, 27%);
}

#mainMasterView-home-slider-collection > .slider-panel > div.heading-of-panel > h2.cookie-crumb-level-Action2Button
{
  background-color: hsl(70, 23%, 27%);
  color:white;
  padding:5px;
}

button.back-color-level-Action2Button
{
  background-color:hsl(70, 23%, 27%);
  color:hsl(60, 37%, 57%);
  border-color:white;
}
button.back-color-level-Action2Button:hover
{
  color:white;
  border-color:hsl(60, 37%, 57%);
}

div.pad-color-level-Action2Button
{
  background-color: hsl(70, 23%, 27%);
}

button.pad-button-color-level-Action2Button
{
  background-color: hsl(60, 37%, 57%);
  color:black;
  border-color:black;
}

button.pad-button-color-level-Action2Button:hover
{
  background-color: hsl(60, 37%, 37%);
  color:white;
  border-color:white;
}



/* color level Action3Button */

#mainMasterView-home-slider-collection > .slider-panel > h2.heading-of-panel-level-Action3Button
{
  color: hsl(150, 23%, 27%);
}

#mainMasterView-home-slider-collection > .slider-panel > div.heading-of-panel > h2.cookie-crumb-level-Action3Button
{
  background-color: hsl(150, 23%, 27%);
  color:white;
  padding:5px;
}

button.back-color-level-Action3Button
{
  background-color:hsl(150, 23%, 27%);
  color:hsl(140, 37%, 57%);
  border-color:white;
}
button.back-color-level-Action3Button:hover
{
  color:white;
  border-color:hsl(140, 37%, 57%);
}

div.pad-color-level-Action3Button
{
  background-color: hsl(150, 23%, 27%);
}

button.pad-button-color-level-Action3Button
{
  background-color: hsl(140, 37%, 57%);
  color:black;
  border-color:black;
}

button.pad-button-color-level-Action3Button:hover
{
  background-color: hsl(140, 37%, 37%);
  color:white;
  border-color:white;
}



/* color level Action4Button */

#mainMasterView-home-slider-collection > .slider-panel > h2.heading-of-panel-level-Action4Button
{
  color: hsl(200, 23%, 27%);
}

#mainMasterView-home-slider-collection > .slider-panel > div.heading-of-panel > h2.cookie-crumb-level-Action4Button
{
  background-color: hsl(200, 23%, 27%);
  color:white;
  padding:5px;
}

button.back-color-level-Action4Button
{
  background-color:hsl(200, 23%, 27%);
  color:hsl(190, 37%, 57%);
  border-color:white;
}
button.back-color-level-Action4Button:hover
{
  color:white;
  border-color:hsl(190, 37%, 57%);
}

div.pad-color-level-Action4Button
{
  background-color: hsl(200, 23%, 27%);
}

button.pad-button-color-level-Action4Button
{
  background-color: hsl(190, 37%, 57%);
  color:black;
  border-color:black;
}

button.pad-button-color-level-Action4Button:hover
{
  background-color: hsl(190, 37%, 37%);
  color:white;
  border-color:white;
}



/* color level Action5Button */

#mainMasterView-home-slider-collection > .slider-panel > h2.heading-of-panel-level-Action5Button
{
  color: hsl(250, 23%, 27%);
}

#mainMasterView-home-slider-collection > .slider-panel > div.heading-of-panel > h2.cookie-crumb-level-Action5Button
{
  background-color: hsl(250, 23%, 27%);
  color:white;
  padding:5px;
}

button.back-color-level-Action5Button
{
  background-color:hsl(250, 23%, 27%);
  color:hsl(240, 37%, 67%);
  border-color:white;
}
button.back-color-level-Action5Button:hover
{
  color:white;
  border-color: hsl(240, 37%, 67%);
}

div.pad-color-level-Action5Button
{
  background-color: hsl(250, 23%, 27%);
}

button.pad-button-color-level-Action5Button
{
  background-color: hsl(240, 37%, 67%);
  color:black;
  border-color:black;
}

button.pad-button-color-level-Action5Button:hover
{
  background-color: hsl(240, 37%, 37%);
  color:white;
  border-color:white;
}



/******************************************************************************

  user content

******************************************************************************/

.user-content a {color:hsla(210, 25%, 80%, 1);}
.user-content a:hover{color:hsla(0, 25%, 80%, 1);}
.user-content a:visited{color:hsla(110, 25%, 80%, 1);}

.user-content button
{
  border-color:black;
  color:black;
  background: #c5b549;
}
.user-content button:hover
{
  background: #554e20;
  color:white;
}

.user-content,
.user-content th,
.user-content td
{
  color: white;
}

/******************************************************************************

  modal user content

******************************************************************************/


.modal-user-content a {color:black;}
.modal-user-content a:hover{color:black;}
.modal-user-content a:visited{color:black;}

.modal-user-content button
{
  border-color:black;
  color:black;
  background: white;
}
.modal-user-content button:hover
{
  background: white;
  color:black;
}

.modal-user-content,
.modal-user-content th,
.modal-user-content td
{
  background: white;
  color:black;
}
