
<!--

Panel name: "SchoolCourseNotReadyPanel"

Panel note: Displayed when there are on courses.

This is one of a group of 2 panels displayed when the "School" button is clicked.

This panel is just 1 in a group of 2 panels.
Your other panel in this group is

  * The tab bar <div #mainMasterView_home_pad_SchoolButton_SchoolPanel_tab_bar
  * But the panel is a tab bar so you won't be adding any content there.

-->

<p>You haven't created any courses yet.</p>
