
<!--

Panel name: "EditContactSelectPanel"

Panel note: A mapvlist allowing the user to select a contact to edit.

This is one of a group of 3 panels displayed when the "Edit" button is clicked.

This panel is just 1 in a group of 3 panels.
Your other 2 panels in this group are

  * The content panel <div #tabsMasterView-home-pad-EditButton-EditContactNotReadyPanel-inner-user-content
  * Name: EditContactNotReadyPanel
  * Note: tell the user that he/she has not added any contacts yet.

  * The content panel <div #tabsMasterView-home-pad-EditButton-EditContactEditPanel-inner-user-content
  * Name: EditContactEditPanel
  * Note: edit the form

-->

<p>
  <b>Select A Contact.</b>
</p>
<div id="contactEditSelect" class="VList"></div>

